---
import '../styles/global.css';
import Carousel from "../components/event_carousel.jsx"
import Signup from "../components/signup.jsx"
import Teachers from '../components/teachers.jsx';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class=" relative overflow-x-clip">
		<div class=" top-0 h-[800px] w-screen overflow-hidden bg-amber-500 relative">

			<div class="w-full h-[900px] bg-white"> <img class="scale-x-[-1] w-full h-full" src=" /images/ilk.jpg" alt=""></div>

			<div class="w-[900px] h-[5100px] bg-[#888888] absolute right-0 top-[700px] transform rotate-[50deg] translate-x-1/2 -translate-y-1/2 z-10">
				<div class="w-[90px] h-[510px] bg-[#A79E15] absolute left-0 [top:calc(50%+250px)] "></div>
				<div class="w-[55px] h-[250px] bg-[#BFBFBF] absolute left-[100px] [top:calc(50%-30px)]"></div>
			</div>
			
			<div class="w-[600px] h-[5100px] bg-[#888888] absolute top-[-2500px] left-[0px] transform rotate-[49deg] z-10">
				<div class="w-[90px] h-[510px] bg-[#A79E15] absolute right-[20px] [top:calc(50%-400px)] "></div>
				<div class="w-[55px] h-[250px] bg-[#BFBFBF] absolute right-[200px] [top:calc(50%+100px)]"></div>
			</div>
			
			<div class=" rotate-45 w-screen h-[800px] flex top-0 left-0 z-0 justify-center items-center absolute ">
				<div class="w-[350px]  h-[350px] bg-[#A79E15] flex justify-center items-center">
					<div class=" rotate-[-45deg]">
						<div class="text-6xl text-center mb-4 text-white"> EĞİTİM</div>
						<div class=" text-center text-2xl text-white">Başarı akademide</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="  h-[800px] max-[800px] w-screen  bg-[#888888] absolute overflow-hidden">
			<div class=" bg-[#BFBFBF] top-[200px] left-[80px] absolute " style="width:120px; height:60px; clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);"></div>
			<div class="text-white text-4xl top-[320px] left-[80px] absolute leading-[45px]"> Modern sınıflar,<br>ferah çalışma alanları<br> ve teknolojik donanımlarla <br> öğrenmenin en verimli hali.</div>
			<div class="text-white text-7xl top-[590px] left-[80px] absolute leading-[45px]"> Yenilenen Mimariz</div>

			<div class=" w-[480px] h-[1000px] bg-gray-300 rotate-[-17deg] top-[-95px] left-[630px]  absolute flex justify-center items-center overflow-hidden">
				<div class="rotate-[17deg] w-[730px] h-[820px] bg-blue-800 absolute"><img  src=" /images/bina_3.png" class="w-full h-full" alt=""></div> 
			</div>
			<div class=" w-[480px] h-[1000px] bg-gray-900 rotate-[-17deg] top-[-95px] left-[1170px]  absolute overflow-hidden">
				<div class="rotate-[17deg] w-[550px] h-[820px] bg-blue-800 absolute left-[-140px] mt-[60px]"><img  src=" /images/bina_4.png" class="w-full h-full" alt=""></div>
			</div>
		</div>

		<Teachers client:load />


	</div>
		<div class="w-full h-[800px]  absolute top-[2400px] items-center flex flex-col">
			
			<Carousel client:load/>
			<div class="text-5xl mt-16">Devamlı etkinliklerimiz ile</div>
	</div>
	
	<div class="h-[800px] w-screen top-[3200px] absolute bg-amber-400">
		<Signup client:load />
	</div>
	</body>
</html>
